@keyframes moveSeven {
    0% {
       z-index: 1;
       bottom: 0px;
       transform: translate(0px);     
    }
    8% {
       z-index: 100;
       bottom: 0px;
       transform: translate(-1090px);     
    }
    10% {
       z-index: 100;
       bottom: 0px;
       transform: translate(-1090px);     
    }
    25% {
        bottom: 37px;
        transform: translate(-945px) scale(1.5);
    }
    40% {
        bottom: 75px;
        transform: translate(-750px) scale(2);
    }
    55% {
        bottom: 75px;
        transform: translate(-540px) scale(2);
    }
    70% {
        bottom: 75px;
        transform: translate(-330px) scale(2);
    }
    85% {
        bottom: 37px;
        transform: translate(-145px) scale(1.5);
    }
    100% {
        bottom: 0px;
        transform: translate(0px) scale(1);
    }
  
}