@keyframes moveThird {
    0% {
        bottom: 0px;
        transform: translate(0px) scale(1);
        z-index: 100;     
    }
    
    0% {
        z-index: 100; 
        bottom: 0px;
        transform: translate(0px) scale(1);
     
    }
    15% {
        bottom: 0px;
        transform: translate(215px) scale(1);
    }
    30% {
        bottom: 0px;
        transform: translate(450px) scale(1);
    }
     45% {
        bottom: -38px;
        transform: translate(605px) scale(0.75);
    }
     60% {
        z-index: 1;
        bottom: -75px;
        transform: translate(750px) scale(0.50);
    }
    70% {
        z-index: 100;
        bottom: -75px;
        transform: translate(-340px) scale(0.50);
    }
    85% {
        bottom: -38px;
        transform: translate(-195px) scale(0.75);
    }
    100% {
        bottom: 0px;
        transform: translate(0px) scale(1);
    }

    // 30% {
    //     bottom: 0px;
    //     transform: translate(415px) scale(1);
    // }
    // 45% {
    //     bottom: -38px;
    //     transform: translate(605px) scale(0.75);
    // }
    // 60% {
    //     z-index: 1;
    //     bottom: -75px;
    //     transform: translate(750px) scale(0.50);
    // }
    // 60% {
    //     bottom: -37px;
    //     transform: translate(945px) scale(0.666);
    // }

    // 68% {
    //     z-index: 1; 
    //     bottom: -37px;
    //     transform: translate(-145px) scale(0.666);
    // }
    // 70% {
    //     z-index: 100;   
    //     bottom: -37px;
    //     transform: translate(-145px) scale(0.666);
    // }
    // 100% {
    //     z-index: 1;
    //     bottom: -75px;
    //     transform: translate(750px) scale(0.50);
    // }
  

}