$leftPos: 0px;

@import "_reset.scss";
@import "_one_keyframe.scss";
@import "_second_keyframe.scss";
@import "_seven_keyframe.scss";

body {
    background-color: #8080802e;
}

.main_container {
    position: relative;
    width: 1300px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid;
    text-align: center;
    background-color: rgb(153, 153, 153);
    text-align: center;

}
.card {
    width: 100px;
    height: 150px;
    background: #2e2e40;
    display: inline-block;
    z-index: 5;
    margin: 10px;
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 900%;
    border: 3px solid white;
    padding-bottom: 80px;
  
}
.first {
    left: $leftPos;
    animation: moveFirst 8s linear forwards paused infinite;
}
.second {
    width: 150px;
    height: 225px;
    left:  $leftPos + 120px;
    animation: moveSecond 8s linear forwards paused infinite;
}
.third {
    width: 200px;
    height: 300px;
    left:  $leftPos + 290px;
}
.fourth {
    width: 200px;
    height: 300px;
    left:  $leftPos + 500px;
}
.fifth {
    width: 200px;
    height: 300px;
    left:  $leftPos + 710px;
}
.sixth {
    width: 150px;
    height: 225px;
    left:  $leftPos + 920px;
}
.seventh {
    left:  $leftPos + 1090px;
    animation: moveSeven 8s linear forwards paused infinite;
}

.main_container:hover .first, .main_container:focus .first {
    
    animation-play-state: running;          
}
.main_container:hover .second, .main_container:focus .second {
    
    animation-play-state: running;          
}
.main_container:hover .seventh, .main_container:focus .seventh {
    
    animation-play-state: running;           
}










